html, body{
  background-color: #000000;
}
body{
  padding-bottom: 100px;
}
section{
  padding: 50px 10% 0 10%;
}
section > img{
  display:block;
  margin:auto;
}
h1{
  color: #cccccc
}
h2, p, li{
  color: #909090
}
.btn{
  display: block;
  width: 50%;
  margin: 50px auto;
}
ul{
  list-style-type: none;
}

.affiche{
  margin : auto;
}